.navbar-nav .nav-item {
    /*animation-name: nav_up_down;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-direction: reverse;
    */
    /*animation-iteration-count: infinite;
    */
    transition: transform .5s linear, opacity .5s linear;
}