@import url("./anim.css");
@import url("./scroller.css");

:root {
    --bg-primary  : #F0F0F0;
    --bg-secondary: #FF9797;
    --bg-button   : #ed0a2b;
}

@font-face {
    font-family: 'Tw Cen MT';
    src        : url('../fonts/fontscorecomttwcenmt.woff');
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.icon-color {
    color: #FF4F5B;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    font-family     : "Tw Cen MT";
    /* min-width    : 100%; */
    max-width       : 100%;
    width           : 100%;
    /* overflow     : hidden !important; */
}


.navbar-light .navbar-toggler-icon {
    width : 22px !important;
    height: 22px !important;
}

.navbar-toggler-icon {
    width : 22px !important;
    height: 22px !important;
}

/* Global */


/* slick Slider */
.slick-slider {
    position: relative;
    padding : 2rem;
}

.slick-slider div h3 {
    background : #fff;
    color      : #3498db;
    font-size  : 36px;
    line-height: 100px;
    margin     : 10px;
    padding    : 2%;
    position   : relative;
    text-align : center;
}


/* Ecnd of Slick Slider */

.heading-1 {
    font-size: 2.5rem;
}

.top-header-text {
    line-height: 1.2rem;
}

.top-header-text .heading-1 {
    font-size: 5rem;
}

.top-header-text .heading-3 {
    font-size: 3rem;
}

.top-header-text .para {
    font-size: 2rem;
}

span.heading-1 {
    color: var(--bg-button);
}

span.heading-1 span {
    font-weight: 900;
}

span.heading-1 span:first-child {
    font-weight: normal;
}

.para {
    text-align : justify;
    line-height: 1.8rem;
}

.display-1 {
    transform          : rotate(-19deg);
    letter-spacing     : 3rem;
    /* background-color: white; */
    color              : #d0cfcf;
}


/* End Global */


/* Navbar */

.navbar-brand img {
    height: 50px !important;
}

li.nav-item:last-child {
    margin-right: 0 !important;
}


/*  End Navbar */


/* Slider */
.slider-services,
.slider-becomepartner,
.slider-portfolio {
    background-image   : url("../img/portfolio/our\ port\ slider\ image.svg") !important;
    background-position: 90% bottom;
    background-size    : 50%;
}

.slider-becomepartner {
    background-image: url("../img/partner/become-partner.svg") !important;
}

.slider-services {
    background-image: url("../img/services/our\ services.svg") !important;
}

.slider {
    background-image      : url("../img/slider\ 1.svg");
    height                : 37vw;
    width                 : 100%;
    /* background-size    : cover; */
    background-position: center bottom;
    max-height            : 714px;
    background-repeat     : no-repeat;
    background-color      : #ff9797;
}

.slider .getting-started {
    background-color: var(--bg-button);
    border-radius   : 50%;
    text-align      : center;
    height          : 144PX;
    width           : 144px;
}

.slick-prev:before,
.slick-next:before {
    color: #000000 !important;
}

/* End Slider */


/* Main */

.process {
    /* margin-top: 87px; */
    padding: 3rem 0;
}

.process .row {
    margin-top: 99px !important;
}

.process-items-container {
    padding: 0 138px;

    justify-content: center;
}

.process img {
    width : 50% !important;
    height: 180px;
}

.process-item {
    max-width : 400px;
    cursor    : pointer;
    transition: .3s linear;
}

/* .process-item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 42px -17px rgba(237,10,43,1);
} */
.process-item img {
    transition: all .3s linear;
}

.process-item img:hover {
    transform: scale(1.05);
}


/* .process-item>div {
    height: 144px;
    width: 144px;
    background-color: var(--bg-button);
    border-radius: 50%;
    margin-bottom: 2.5rem;
    padding: 2px;
} */

#section-3 {
    margin-top: 99px;
}

#section-3 div.col-md-4 .card {
    max-width : 350px;
    /* padding: 40px 97px; */
}

.card {
    transition        : all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition   : all 0.4s ease;
    -ms-transition    : all 0.4s ease;
    -o-transition     : all 0.4s ease;
}

.card:hover {
    color            : white;
    background-color : var(--bg-secondary);
    transform        : scaleY(1.05);
    -webkit-transform: scaleY(1.05);
    -moz-transform   : scaleY(1.05);
    -ms-transform    : scaleY(1.05);
    -o-transform     : scaleY(1.05);
}

.card:hover span.heading-1 {
    color: white;
}

.card:hover .card-footer .btnPrimary {
    /* background-color: white; */
    /* color: var(--bg-button); */
}

.card-title .heading-1 {
    display       : flex;
    flex-direction: column;
    font-size     : 3.5vw;
}

#section-3 .col-xl-3 {}


/* 
#section-3>div>div:nth-child(3) {
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
} */

.card-body>div ul.card-text {
    margin-bottom: 1rem;
}

.card-header {
    padding         : .75rem 1.25rem 0;
    background-color: inherit;
    border-bottom   : none;
}

.card-footer {
    padding-left    : 0 !important;
    padding-right   : 0 !important;
    background-color: inherit;
    border-top      : none;
}

.card hr {
    width           : 90%;
    margin          : 0 auto;
    border-top-color: var(--bg-secondary);
}

.card:hover hr {
    border-top-color: white;
}

.card-footer .btn {
    border-radius        : unset;
    -webkit-border-radius: unset;
    -moz-border-radius   : unset;
    -ms-border-radius    : unset;
    -o-border-radius     : unset;
}

.card-text {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.card-text li {
    word-spacing  : .5rem;
    line-height   : 2rem;
    font-size     : 1.4rem;
    text-align    : left;
    letter-spacing: .1rem;
    line-height   : 2.5rem;
}

.card-footer .btnPrimary {
    width    : 100% !important;
    max-width: 100% !important;
}

.btnPrimary {
    padding         : 1rem 4rem;
    background-color: var(--bg-button);
    color           : white;
    /* width        : 15rem; */
    max-width       : 15rem;
    transition      : all .3s ease-in;
}

.btnPrimary:hover {
    background-color: #fff;
    color           : var(--bg-button);
}

.work-talk {
    margin-top: 117px;
}

.become-partner-form {
    height               : auto;
    background-color     : rgba(0, 0, 0, 0.03);
    margin-top           : 5rem !important;
}

.become-partner-form h1 {
    font-size: 4vw;
}

.become-partner-form h3 {
    font-size: 2.3vw;
}

.partner-section {
    max-width: 125rem !important;
}

.partner-section .row {
    padding: 4vw;
}

.partner-section .row img {
    /* height: 300px;
    width: 300px; */
}

.partner-section .row:nth-child(even) {
    background-color: #e8e8e8;
}

.form-max-width {
    max-width    : 1172px !important;
    margin-top   : 2rem;
    padding-left : 10rem !important;
    padding-right: 10rem !important;
    align-self   : center;
}

.lg {
    font-size    : 3rem;
    padding      : 1rem;
    border-radius: 0 !important;
    border       : none !important;
}

.lg:focus {
    box-shadow: none;
}

button.lg:hover {
    color           : #bd2130;
    background-color: #ffffffb7 !important
}

.lg::placeholder {
    color       : #000000a8;
    margin-right: 1rem;
}


/* End Main */

.container {}

.container-fluid .google-review {

    background-color: #fff;
    padding         : 2rem;
    color           : black;
}

.google-img {
    width : 200px;
    margin: auto;
}


/* Footer */

footer {
    background-color: white;
    margin-top      : 4rem;
}

.footer-row {
    justify-content: center;
}

.footer-row div:last-child {
    box-sizing: border-box;
    padding   : 4vw;
}

.anim-icon {
    /* border-radius: 50%; */
    max-width : 50px;
    transition: all 0.4s ease;
}

.anim-icon:hover {
    transform: translateY(-10px);
    cursor   : pointer;
}

.social-icons img {
    width             : 12%;
    transition        : all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition   : all 0.4s ease;
    -ms-transition    : all 0.4s ease;
    -o-transition     : all 0.4s ease;
}

.social-icons img:hover {
    transform        : translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform   : translateY(-10px);
    -ms-transform    : translateY(-10px);
    -o-transform     : translateY(-10px);
}


/* footer .row:nth-child(2){
    padding: 3rem 0rem;
} */


/* End Footer */


/* PortFolio */

.top-header {
    background-color: var(--bg-secondary);
    height          : 19vw;
    display         : flex;
    margin-bottom   : 6rem;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    color           : white;
}

.top-header h1.heading-1 {
    font-size: 10vw;
}

.portfolio-section {
    max-width   : 125rem !important;
    margin-left : auto !important;
    margin-right: auto !important;
}

.portfolio-img {
    background-color     : white;
    overflow             : hidden;
    border-radius        : 50%;
    /*height             : 592px;
    */
    display              : flex;
    flex-direction       : column;
    justify-content      : center;
    align-items          : center;
    position             : relative;
    /*width              : 592px;
    */
    max-width            : 592px;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
}

.portfolio-img img {
    transition: .5s ease;
}

.portfolio-img .middle {
    transition   : .5s ease;
    opacity      : 0;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align   : center;
}

/* .portfolio-img:hover {
    opacity: 0.7;
} */

.portfolio-img .middle:hover {
    opacity: 1;
}

/* .portfolio-img:hover::after {
    content: "View Website";
    position: absolute;
    background-color: GREEN;
    padding: .25rem 1rem;
    color: white;
    cursor: pointer;
    top: 70%;
} */


/* .portfolio-img:hover::after {
    content: "visit website";
    background-color: rgba(0, 0, 0, 0.03);
} */


/* .portfolio-text h1.heading-1{
    font-size: 5rem;
} */

.portfolio-text p.para {
    font-size  : 2rem;
    font-weight: normal;
}


/* .portfolio-img {
    background-color: white;
    overflow: hidden;
    height: auto;
    border-radius: 50%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#section-3 .row {
    margin-right: 0;
    margin-left : 0;
}


/* End PortFolio */


.service-section {
    width    : 90%;
    margin   : 0 auto;
    max-width: 125rem !important;
}

.services {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    color          : white;
}

.service {
    background-color: #FF9797;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 500px;
    width           : 40%;
    margin          : 4rem;
    text-align      : center;
    transition: all .3s linear
}
.service:hover{
    transform: scale(1.05);
}

.service h1 {
    line-height: .8;
    font-size  : 10rem;
}

.service h2 {
    font-size: 6rem;
}

.service h6 {
    font-size: 2rem;
}

/* Media Queries */


/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .slider-services {
        background-size    : 30% !important;
        background-position: 92% center !important;

    }

    .slider-becomepartner,
    .slider-portfolio {
        background-position: 95% center !important;
        background-size    : 44% !important;
    }

    .offset-1 {
        margin-left    : 0;
        display        : flex;
        flex-direction : row;
        justify-content: center;
    }

    .w-100 {
        width: 100vw !important;
    }

    .card-footer .btn {
        font-size: 6vw !important;
    }

    .heading-1 {
        font-size: 1.5rem;
    }

    .heading-3 {
        font-size: 1rem;
    }

    .para {
        font-size: 0.7rem;
    }

    .navbar-brand img {
        height: 2rem !important;
    }

    .footer-row {
        padding: 1rem;
    }

    .footer-row div:last-child {
        padding: 20vw;
    }

    .slider {
        padding: 1rem;
        height : auto;
    }

    .slider .getting-started {
        height     : 40px !important;
        width      : 40px !important;
        font-size  : .5rem;
        margin-top : -2rem;
        margin-left: -2rem;
    }

    .top-header-text {
        line-height: .9rem;
    }

    .top-header-text .heading-1 {
        /* font-size: 1.8rem; */
        font-size  : 6vw;
        line-height: .8;
    }

    .top-header-text .heading-3 {
        /* font-size: 1.2rem; */
        font-size  : 4.5vw;
        line-height: .8;
    }

    .top-header-text .para {
        font-size: 2.5vw;
    }

    .process-items-container {
        padding: 1rem;
    }

    #section-3 div.col-md-4 .card {
        margin-left : auto !important;
        margin-right: auto !important;
    }

    /* span.heading-1 {
        font-size: 1.3rem !important;
    } */
    .btnPrimary {
        padding  : .15rem 1rem;
        width    : 35vw;
        font-size: 2.5vw;
    }

    .form-max-width {
        padding: 0 1.5rem 0 3rem !important
    }

    .social-icons img {
        margin: 0 .5rem .5rem .5rem;
    }

    .lg {
        font-size: 1rem;
        padding  : .5rem;
    }

    .portfolio-img {
        order    : 1;
        margin   : 0 auto;
        /* height: 350px;
        width    : 350px; */
        height   : 60vw;
        width    : 60vw;
    }

    .portfolio-text {
        order     : 2;
        text-align: center;
        margin-top: 1rem;
        padding   : 2.4rem;
    }

    .portfolio-text p.para {
        font-size: 1rem;
    }

    .card-title .heading-1 {
        font-size: 8vw
    }

    .become-partner-form {
        padding      : 2.5rem 0;
    }

    .service-section {
        width: 100%;
    }

    .service {
        height          : 200px;
        width           : 90%;
        margin          : .7rem;
    }

    .service h1 {
        font-size: 2.5rem !important;
    }

    .service h2 {
        font-size: 2rem !important;
    }

    .service h6 {
        font-size: 1rem !important;
    }
}

@media (max-width:400px) {
    .top-header-text {
        line-height: .9rem;
    }

    .top-header-text .heading-1 {
        /* font-size: 1.8rem; */
        font-size  : 5.5vw;
        line-height: .8;
    }

    .top-header-text .heading-3 {
        /* font-size: 1.2rem; */
        font-size  : 4vw;
        line-height: .8;
    }

    .top-header-text .para {
        font-size: 2.5vw;
    }

    .btnPrimary {
        padding  : .15rem 1rem;
        width    : 38vw;
        font-size: 2.5vw;
    }

    .slider-services,
    .slider-becomepartner,
    .slider-portfolio {
        background-position: 95% center;
        background-size    : 50%;
    }

    .service-section {
        width: 100%;
    }

    .service {
       
        height          : 200px;
        width           : 90%;
        margin          : .5rem;
    }

    .service h1 {
        font-size: 2rem !important;
    }

    .service h2 {
        font-size: 1.5rem !important;
    }

    .service h6 {
        font-size: 1rem !important;
    }

}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .slider-services {
        background-size    : 30% !important;
        background-position: 92% center !important;

    }

    .slider-becomepartner,
    .slider-portfolio {
        background-position: 92% center !important;
        background-size    : 50% !important;
    }

    .offset-1 {
        display        : flex;
        flex-direction : row;
        justify-content: center;
    }

    .w-100 {
        width: 100vw !important;
    }

    .heading-1 {
        font-size: 1.8rem;
    }

    .heading-3 {
        font-size: 1.3rem;
    }

    .card-footer .btn {
        font-size: 5vw !important;
    }

    .para {
        font-size: 1rem;
    }

    .navbar-brand img {
        height: 2rem !important;
    }

    .footer-row {
        padding: 1rem;
    }

    .footer-row div:last-child {
        box-sizing: border-box;
        padding   : 2vw 20vw;
    }

    .slider {
        padding-left: 2rem;
    }

    .slider .getting-started {
        height     : 50px !important;
        width      : 50px !important;
        font-size  : .6rem;
        margin-top : -1.7rem;
        margin-left: -2.8rem;
    }

    .top-header-text {
        line-height: 1rem;
    }

    .top-header-text .heading-1 {
        font-size: 2.1rem;
    }

    .top-header-text .heading-3 {
        font-size: 1.2rem;
    }

    .top-header-text .para {
        font-size: 1rem;
    }

    .process-items-container {
        padding: 1rem 1rem 1rem 2rem;
    }

    .process-items-container {
        padding: 1rem 1rem 1rem 2rem;
    }

    #section-3 div.col-md-4 .card {
        margin-left : auto !important;
        margin-right: auto !important;
    }

    #section-3 .row {
        /* padding: 0 4.7rem; */
    }

    .btnPrimary {
        padding: .5rem 1.8rem;
    }

    .form-max-width {
        padding: 0 2rem 0 3.5rem !important;
    }

    .social-icons img {
        margin: 0 .5rem .5rem .5rem;
    }

    .lg {
        font-size: 1rem;
        padding  : .5rem;
    }

    .portfolio-row-container {
        justify-content: center !important;
    }

    .portfolio-img {
        order : 1;
        width : 300px;
        height: 300px;
    }

    .portfolio-text {
        order     : 2;
        text-align: center;
        padding   : 3rem;
    }

    .portfolio-text p.para {
        font-size: 1rem;
    }

    .card-title .heading-1 {
        font-size: 8.5vw
    }

    .become-partner-form {
        padding      : 3rem 0;
        border-radius: 0;
    }

    .anim-icon {
        width: 17%;
    }


    
    .service-section {
        width: 100%;
    }

    .service {
        height          : 200px;
        width           : 80%;
        margin          : .7rem;
    }

    .service h1 {
        font-size: 2.7rem !important;
    }

    .service h2 {
        font-size: 2.2rem !important;
    }

    .service h6 {
        font-size: 1.1rem !important;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .slider-services {
        background-position: 90% center !important;
        background-size    : 30% !important;
    }

    .slider-becomepartner,
    .slider-portfolio {
        background-position: 94% center !important;
        background-size    : 45% !important;
    }

    .w-100 {
        width: 100vw !important;
    }

    .heading-1 {
        font-size: 2rem;
    }

    .heading-3 {
        font-size: 1.5rem;
    }

    .para {
        font-size: 1rem;
    }

    .navbar-brand img {
        height: 2rem !important;
    }

    .footer-row {
        padding: 1.5rem 0;
    }

    .footer-row .mx-xl-5 {
        margin: 0 2rem;
    }

    .slider {
        padding-left: 2rem;
    }

    .slider .getting-started {
        height     : 60px !important;
        width      : 60px !important;
        font-size  : .8rem;
        margin-top : -1.8rem;
        margin-left: -3rem;
    }

    .portfolio-img {
        /* width: 300px;
        height: 300px; */
        width : 220px;
        height: 220px;
    }

    .top-header-text {
        line-height: 1rem;
    }

    .top-header-text .heading-1 {
        font-size: 2.6rem;
    }

    .top-header-text .heading-3 {
        font-size: 1.8rem;
    }

    .top-header-text .para {
        font-size: 1.4rem;
    }

    .process-items-container {
        padding: 1rem 1rem 1rem 2rem;
    }

    #section-3 div.col-md-4 .card {
        /* padding: 1.5rem 0; */
    }

    /* span.heading-1 {
        font-size: 1rem !important;
    } */
    .btnPrimary {
        padding: .5rem 1.3rem;
    }

    .form-max-width {
        padding: 0 3.5rem 0 5rem !important
    }

    .portfolio-row-container {
        justify-content: center;
    }

    .social-icons img {
        margin: 0 .3rem .5rem .5rem;
    }

    .portfolio-text p.para {
        font-size: 1rem;
    }

    .lg {
        font-size: 1.5rem;
        padding  : 1rem;
    }

    .become-partner-form {
        padding      : 3rem 0;
        border-radius: 0;
    }

    .anim-icon {
        width: 17%;
    }
    
    


    .service-section {
        width: 100%;
    }

    .service {
        height          : 200px;
        width           : 40%;
        margin          : 1rem;
    }

    .service h1 {
        font-size: 2.7rem !important;
    }

    .service h2 {
        font-size: 2.2rem !important;
    }

    .service h6 {
        font-size: 1.1rem !important;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .slider-services {
        background-position: 90% bottom !important;
        background-size    : 30% !important;
    }

    .slider-becomepartner,
    .slider-portfolio {
        background-position: 93% bottom !important;
        background-size    : 48% !important;
    }

    .w-100 {
        width: 100vw !important;
    }

    /* header {
        padding: 5px 2rem;
    } */
    .navbar {
        padding: 0 2rem;
    }

    .navbar-nav .nav-item {
        font-size: 1.5rem;
    }

    .heading-1 {
        font-size: 2.5rem;
    }

    .heading-3 {
        font-size: 1.8rem;
    }

    .para {
        font-size: 1rem;
    }

    .navbar-brand img {
        /* height: 3rem !important; */
    }

    .footer-row {
        padding: 2rem
    }

    .footer-row .mx-xl-5 {
        margin: 0 2rem;
    }

    .slider {
        padding-left: 2rem;
    }

    .slider .getting-started {
        height     : 60px !important;
        width      : 60px !important;
        font-size  : .8rem;
        margin-top : -1.8rem;
        margin-left: -3rem;
    }

    .portfolio-row-container {
        justify-content: center;
    }

    .portfolio-img {
        /* width: 300px;
        height: 300px; */
        width : 250px;
        height: 250px;
    }

    .portfolio-text p.para {
        font-size: 1.3rem;
    }

    .top-header-text {
        line-height: 1.1rem;
    }

    .top-header-text .heading-1 {
        font-size: 3rem;
    }

    .top-header-text .heading-3 {
        font-size: 2rem;
    }

    .top-header-text .para {
        font-size: 1.6rem;
    }

    .slider div.flex-row {
        /* margin-top: -12rem; */
    }

    .process-items-container {
        padding: 1rem 1rem 1rem 2rem;
    }

    #section-3 .row {
        padding: 0 3rem;
    }

    #section-3 div.col-md-4 .card {
        /* padding: 1.5rem 0; */
    }

    /* span.heading-1 {
        font-size: 1.4rem !important;
    } */
    .btnPrimary {
        padding: .5rem 1.8rem;
    }

    .form-max-width {
        padding: 0 4.5rem 0 6rem !important
    }

    .social-icons img {
        margin: 0 .3rem .5rem .5rem;
    }

    .lg {
        font-size: 2rem;
        padding  : 1.5rem;
    }

    .become-partner-form {
        padding: 5rem;
    }

    .anim-icon {
        width: 17%;
    }



    
    .service-section {
        width: 100%;
    }

    .service {
        height          : 230px;
        width           : 42%;
        margin          : 1.2rem;
    }

    .service h1 {
        font-size: 3rem !important;
    }

    .service h2 {
        font-size: 2.5rem !important;
    }

    .service h6 {
        font-size: 1.25rem !important;
    }
    
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .slider-services {
        background-position: 92% bottom !important;
        background-size    : 30% 95% !important;
    }

    .slider-becomepartner,
    .slider-portfolio {
        background-position: 92% bottom !important;
        background-size    : 44% 95% !important;
    }

    .w-100 {
        width: 100vw !important;
    }

    .top-header-text {
        line-height: 1.3rem;
    }

    .top-header-text .heading-1 {
        font-size: 4rem;
    }

    .top-header-text .heading-3 {
        font-size: 3rem;
    }

    .top-header-text .para {
        font-size: 2rem;
    }

    .footer-row {
        padding: 2rem
    }

    .mx-xl-5 {
        margin: 0 2.7rem !important;
    }

    .slider {
        padding: 10px 100px;
    }

    .navbar {
        padding: 0 100px;
    }

    .navbar-nav .nav-item {
        font-size: 1.6rem;
    }

    .navbar-nav .nav-item {
        font-size: 1.5rem;
    }

    /* .heading-1 {
        font-size: 3rem;
    } */
    .heading-3 {
        font-size: 2.2rem;
    }

    .para {
        font-size: 1rem;
    }

    .navbar-brand img {
        /* height: 3rem !important; */
    }

    .slider .getting-started {
        height     : 65px !important;
        width      : 65px !important;
        font-size  : .8rem;
        margin-top : -2.8rem;
        margin-left: -3rem;
    }

    .slider div.flex-row {
        /* margin-top: -12rem; */
    }

    /* .process-item{
        margin: 0 2.5rem;
    } */
    .portfolio-text {
        /* margin-left: 3rem; */
    }

    .portfolio-img {
        /* width: 350px;
        height: 350px; */
        width : 280px;
        height: 280px;
    }

    .portfolio-text p.para {
        font-size: 1.6rem;
    }

    .process-items-container {
        padding: 1rem 3rem 1rem 4rem;
    }

    #section-3 .row {
        padding: 0 6rem;
    }

    #section-3 div.col-md-4 .card {
        /* padding: 1.5rem 0; */
    }

    /* span.heading-1 {
        font-size: 1.4rem !important;
    } */
    .btnPrimary {
        padding: .5rem 2.5rem;
    }

    .form-max-width {
        padding: 0 !important;
    }

    .social-icons img {
        margin: 0 .6rem .5rem .6rem;
    }

    .lg {
        transform: scale(.9);
    }

    .become-partner-form {
        padding: 5.5rem;
    }

    .anim-icon {
        width: 17%;
    }



    
    .service-section {
        width: 95%;
    }

    .service {
        height          : 330px;
        width           : 42%;
        margin          : 1.2rem;
    }

    .service h1 {
        font-size: 4.5rem !important;
    }

    .service h2 {
        font-size: 3rem !important;
    }

    .service h6 {
        font-size: 2rem !important;
    }
}

@media (min-width: 1400px) {
    .w-100 {
        width: 100vw !important;
    }

    .top-header-text {
        line-height: 1.4rem;
    }

    .top-header-text .heading-1 {
        font-size: 4.5rem;
    }

    .top-header-text .heading-3 {
        font-size: 3rem;
    }

    .top-header-text .para {
        font-size: 2rem;
    }

    .process-item {
        margin: 0 1rem;
    }

    .portfolio-text:nth-child(even) {
        margin-left: 2rem;
    }

    .portfolio-text:nth-child(odd) {
        margin-right: 2rem;
    }

    .portfolio-img {
        /* width: 350px;
        height: 350px; */
        width : 300px;
        height: 300px;
    }

    #section-3 .row {
        padding: 0 10rem;
    }

    #section-3 .col-xl-3 {
        max-width: 33%;
    }

    .footer-row {
        padding: 2rem
    }

    .footer-row .mx-xl-5 {
        margin: 0 5rem;
    }

    .slider {
        padding: 10px 120px;
    }

    .navbar {
        padding: 0 120px;
    }

    .slider .getting-started {
        height     : 70px !important;
        width      : 70px !important;
        font-size  : .8rem;
        margin-top : -2.8rem;
        margin-left: -3rem;
    }

    .navbar-nav .nav-item {
        font-size: 2rem;
    }

    .become-partner-form {
        padding: 6rem;
    }

    .card-title .heading-1 {
        font-size: 4rem;
    }

    .service {
        height          : 420px;
        width           : 42%;
        margin          : 2.5rem;
    }
}
@media (min-width:1920px){
    /* .slider-becomepartner{
        background-size: 40% !important;
    } */
}

/* End Media Queries */